.cart-container {
    width: 60%; /* Take 60% of the screen width */
    margin: 0 auto; /* Center align the cart horizontally */
    padding: 20px 0; /* Add some padding at the top and bottom */
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cart-item-details h3 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
  }
  
  .cart-item-controls {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  .quantity-dropdown {
    margin-left: 10px;
    padding: 5px;
  }
  
  .delete-button {
    margin-left: 20px;
    padding: 5px 10px;
    background-color: #ff5252;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .delete-button:hover {
    background-color: #ff3333;
  }
  